{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__": false,
    "__PROD": false,
    "__DEBUG__": false,
    "beforeEach" : false,
    "describe": false,
    "expect": false,
    "it": false
  },
  "rules": {
    "arrow-body-style": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  }
}
